<div class="w-full h-full flex flex-col">
    <div class="px-gutter pt-6 pb-20 bg-primary flex-none">
      <div class="flex items-center justify-between" vexContainer>
        <h2 class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6">
          <ic-icon @scaleIn [icon]="component.icCustomer" class="hidden sm:block"></ic-icon>
          <span @fadeInRight class="ml-4 block">Seleccione un una venta o elija crear una nueva</span>
        </h2>
      </div>
      <div style="width: 100px; margin:0 auto; padding:15px; " > 
        <button mat-raised-button color="primary" (click)="nuevaVenta()">Crear nueva venta</button>
    </div>
    </div>
 
    <div class="-mt-14 pt-0 overflow-hidden flex" vexContainer>
      <mat-drawer-container class="bg-transparent flex-auto flex">
        <mat-drawer-content class="p-gutter pt-0 flex-auto flex items-start">
          <div class="card h-full overflow-hidden flex-auto">
            <ngx-spinner [fullScreen]="false" bdColor="rgb(70,84,153,0.3)" size="medium" name="modal-table"
              color="#7084E3">
            </ngx-spinner>
            <div class="h-full" [class.overflow-auto]="dataSource.filteredData.length">
              <table id="tabla1" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort
                matSortDisableClear [matSortActive]="this.component.initialSort"
                [matSortDirection]="this.component.initialSortDir">
                <!-- Position Column -->
                <ng-container matColumnDef="saleId" >
                  <th mat-header-cell *matHeaderCellDef>NO.</th>
                  <td  mat-cell *matCellDef="let element">
                    {{element.saleId}}
                  </td>
                </ng-container>
  
                <!-- total Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef>TOTAL</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.total}}
                  </td>
                </ng-container>
  
                <!-- balance Column -->
                <ng-container matColumnDef="balance">
                  <th mat-header-cell *matHeaderCellDef>SALDO</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.balance}}
                  </td>
                </ng-container>
  
                <!-- paid Column -->
                <ng-container matColumnDef="paid">
                  <th mat-header-cell *matHeaderCellDef>PAGADO</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.paid}}
                  </td>
                </ng-container>
  
                <!-- closed Column -->
                <ng-container matColumnDef="closed">
                  <th mat-header-cell *matHeaderCellDef>VENTA GUARDADA</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.closed}}
                  </td>
                </ng-container>

                 <!-- auditCreateDate Column -->
                 <ng-container matColumnDef="auditCreateDate">
                    <th mat-header-cell *matHeaderCellDef>F. REGISTRO</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.auditCreateDate}}
                    </td>
                  </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="mat-row h-8" mat-row (click)="rowClick(row);" *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator [class.hidden]="!dataSource.filteredData.length"
                [pageSizeOptions]="paginatorOptions.pageSizeOptions" [pageSize]="paginatorOptions.pageSize"
                [length]="paginatorOptions.pageLength" [showFirstLastButtons]="true"></mat-paginator>
              <div *ngIf="dataSource.filteredData.length===0" class="flex h-full flex-col justify-center items-center">
                <img class="m-12 h-64" src="../../../../assets/img/illustrations/idea.svg">
                <h2 class="headline m-0 text-center">No hay resultados en esta búsqueda</h2>
              </div>
            </div>
            <!-- [class.hidden]="!dataSource.filteredData.length" -->
            <div class="h-24 flex gap-4 justify-between items-center flex-grap mx-10 my-2">
              <div class="flex gap-3" *ngIf="dataSource.filteredData.length !== 0">
                <ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
