<form (ngSubmit)="CustomerSave()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0  text-xl text-accent" fxFlex="auto">
            <strong>Gestión de Producto</strong>
        </h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" maxlength="50">
                <mat-error *ngIf="form.get('description').hasError('required')">
                    Campo description es requerido.
                </mat-error>
                <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
                    La descripción no puede exceder de 50 caracteres.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="brand" maxlength="50" >
                <mat-error *ngIf="form.get('brand')?.hasError('maxlength')">
                    La Marca no puede exceder de 50 caracteres.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Costo de compra</mat-label>
                <input matInput type="number" max="99999.99" formControlName="purchaseCost">
                <mat-error *ngIf="form.get('purchaseCost')?.hasError('required')">
                    Campo costo de compra es requerido.
                </mat-error>
                <mat-error *ngIf="form.get('purchaseCost')?.hasError('max')">
                    El costo de compra no puede ser mayor de $ 99,999.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Costo de venta</mat-label>
                <input matInput matInput type="number" max="99999.99" formControlName="salesCost">
                <mat-error *ngIf="form.get('salesCost').hasError('required')">
                    Campo costo de venta es requerido.
                </mat-error>
                <mat-error *ngIf="form.get('salesCost')?.hasError('max')">
                    El costo de venta no puede ser mayor de $ 99,999.
                </mat-error>
            </mat-form-field>

        </div>

        <br />
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let item of categories" [value]="item.categoryId">
                    {{ item.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('categoryId').hasError('required')">
                Campo tipo de documento es requerido.
            </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of configs.statesSelect" [value]="state.value">
                        {{state.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('state').hasError('required')">
                    Campo estado es requerido.
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCELAR</button>
        <button color="purple" class="bg-accent text-accent-contrast" mat-button type="submit"
            [disabled]="!form.valid">{{data ? 'ACTUALIZAR':'GUARDAR'}}</button>
    </mat-dialog-actions>
</form>